.graphContainer {
  padding: 10px;
  .mainGraphsContainer {
    > [class~='ant-card'] {
      border: none;
      > [class~='ant-card-head'] {
        border: none;
        [class~='ant-card-head-title'] {
          padding-bottom: 5px;
        }
      }
      > [class~='ant-card-body'] {
        padding: 0 !important;
      }
    }
    .generalGraph,
    .outcomesGraph,
    .paymentMethodsGraph,
    .incomesGraph {
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 500px;
      h3 {
        text-align: center;
      }
      .graph {
        margin-bottom: 10px;
      }
      .graphFooter {
        text-align: center;
        span {
          font-weight: 500;
        }
      }
    }
  }
}
