.layoutWrapper {
  z-index: 2000;
  [class~='ant-spin'] {
    max-height: 100% !important;
  }
}

.contentLayout {
  [class*='ant-layout-sider'] {
    overflow: hidden;
  }
}

.rootContentContainer {
  height: 100%;
  width: calc(100% - 55px);
  .wrapperContainer {
    margin: 0 auto;
    width: calc(100% - 20px);
  }
}

@media (max-width: 480px) {
  .rootContentContainer {
    width: 100%;
    .wrapperContainer {
      width: calc(100% - 20px);
    }
  }
}
